<div class="sidebar-bottom">
    <div class="row icons">
        <div class="col-4">
            <a href="mailto:naoforyou4@gmail.com">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="https://ul.waze.com/ul?ll=50.47005002%2C3.95373702&navigate=yes&zoom=17&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
                target="_blank">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="tel:+32497421565">
                <fa-icon [icon]="faPhone"></fa-icon>
            </a>
        </div>
    </div>

    <div class="row infos">
        <p>Copyright &copy; 2024 Nao4You. Powered by <a
                href=" https://www.linkedin.com/in/emmanu%C3%ABl-caputo-a46173235" target="_blank"
                class="link text-white">Emmanuël Caputo</a></p>
    </div>
</div>