
<div class="sidebar-bottom">
    <div class="row icons">
        <div class="col-4">
            <a href="mailto:nao4you@gmail.com">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="https://maps.app.goo.gl/4vXZhdGDEa2vPEXMA" target="_blank">
                <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            </a>
        </div>
        <div class="col-4">
            <a href="tel:+32497421565">
                <fa-icon [icon]="faPhone"></fa-icon>
            </a>
        </div>
    </div>

    <div class="row infos">
        <p>Copyright &copy; 2024 Nao4You. Powered by <a href=" https://www.linkedin.com/in/emmanu%C3%ABl-caputo-a46173235" target="_blank"
                class="link text-white">Emmanuël Caputo</a></p>
    </div>
</div>