<div *ngIf="isLoggedIn" class="alert alert-success text-center">
  <h4 class="mb-3">Nao4You te souhaite la bienvenue.</h4>

  <ul class="list-group">
    <li *ngFor="let info of userKeys()" class="list-group-item">
      <strong>{{ info }}:</strong> {{ user[info] }}
    </li>
    <li class="list-group-item">
      <strong>Téléphone ({{ user.phone.countryCode }}):</strong> {{ user.phone.internationalNumber }}
    </li>
  </ul>

  <div class="d-grid mt-3">
    <button (click)="logout()" class="btn btn-custom btn-lg">
      Se déconnecter
    </button>
  </div>
</div>