.sign-up {
  display: flex;
  flex-direction: column;
  height: 90vh;
  text-align: center;
  align-items: center;
  overflow: auto;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.link-custom {
  color: rgba(185, 136, 174, 255);
  text-decoration: none;
}

.link-custom:hover {
  color: rgba(185, 136, 174, 255);
}

.btn-custom {
  background-color: rgba(173, 132, 168, 255);
  border-color: rgba(173, 132, 168, 255);
  color: white;
}

.btn-custom:hover {
  background-color: rgba(173, 132, 168, 0.8);
  border-color: rgba(173, 132, 168, 0.8);
  color: white;
}

.alert-success {
  background-color: rgba(174, 132, 170, 0.1);
  border-color: rgba(174, 132, 170, 0.2);
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.2);
}

.form-check{
  position: relative;
  text-align: start;
  margin-bottom: 1rem;
}

ngx-intl-tel-input {
  text-align: start;
}

@supports (height: 100dvh) {
  .sign-up {
    height: 90dvh;
  }
}