<section class="py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <a href="https://www.facebook.com/profile.php?id=100086769682698">
                <img ngSrc="assets/images/nao4you_logo.jpg" alt="Nao4You" width="175" height="175" priority />
              </a>
            </div>
            <h2 class="fs-6 fw-normal text-center text-secondary mb-4">
              Entrez vos coordonnées pour vous inscrire
            </h2>

            <!-- While user is not registered -->
            <div *ngIf="!isSuccessful">
              <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="row gy-2 overflow-hidden">

                  <!-- First Name -->
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" 
                             class="form-control" 
                             name="firstName" 
                             id="firstName"
                             [(ngModel)]="form.firstName" required 
                             #firstName="ngModel" 
                             [ngClass]="{'is-invalid': f.submitted && firstName.errors}" />
                      <label for="firstName" class="form-label">Prénom</label>
                      <div *ngIf="firstName.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="firstName.errors['required']">
                          Veuillez compléter le champ.
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Last Name -->
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="text" 
                            class="form-control" 
                            name="lastName" 
                            id="lastName"
                            [(ngModel)]="form.lastName" 
                            required
                            #lastName="ngModel" 
                            [ngClass]="{'is-invalid': f.submitted && lastName.errors}" />
                      <label for="lastName" class="form-label">Nom</label>
                      <div *ngIf="lastName.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="lastName.errors['required']">
                          Veuillez compléter le champ.
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Email Address -->
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="email" 
                             class="form-control" 
                             name="email" 
                             id="email"
                             [(ngModel)]="form.email" required
                             #email="ngModel" 
                             autocomplete="email"
                             [ngClass]="{'is-invalid': f.submitted && email.errors}" />
                      <label for="email" class="form-label">Adresse mail</label>
                      <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="email.errors['required']">
                          Veuillez compléter le champ.
                        </div>
                        <div *ngIf="email.errors['email']">
                          Adresse mail non-valide.
                        </div>
                      </div>
                    </div>
                  </div>


                <!-- Password -->
                  <div class="col-12">
                    <div class="form-floating mb-3">
                      <input type="password" 
                             class="form-control" 
                             name="password" 
                             id="password"
                             [(ngModel)]="form.password" required
                             minlength="6" 
                             #password="ngModel"  
                             [ngClass]="{'is-invalid': f.submitted && password.errors}" />
                      <label for="password" class="form-label">Mot de passe</label>
                      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                        <div *ngIf="password.errors['required']">
                          Veuillez compléter le champ.
                        </div>
                        <div *ngIf="password.errors['minlength']">
                          6 caractères minimum.
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Terms and conditions agreement -->
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" name="iAgree" id="iAgree" required />
                      <label class="form-check-label text-secondary" for="iAgree">
                        J'accepte les
                        <a href="#!" class="link-custom">termes et conditions</a>
                      </label>
                    </div>
                  </div>

                  <!-- Sign up button -->
                  <div class="col-12">
                    <div class="d-grid my-3">
                      <button class="btn btn-custom btn-lg" type="submit">
                        S'inscrire
                      </button>
                    </div>
                  </div>

                  <!-- Sign in -->
                  <div class="col-12">
                    <p class="m-0 text-secondary text-center">
                      Vous avez déjà un compte ?
                      <a href="login" class="link-custom">Se connecter</a>
                    </p>
                  </div>

                  <!-- Errors handling -->
                  <div class="col-12">
                    <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger" role="alert">
                      {{ message }}
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!-- When user is registered -->
            <div *ngIf="isSuccessful" class="alert alert-success">
              {{ message }} Vous allez être automatiquement redirigé.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>