.login {
  display: flex;
  flex-direction: column;
  height: 85vh;
  text-align: center;
  align-items: center;
  overflow-y: auto;
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.fw-medium {
  font-weight: 600;
}

.position-relative {

  .btn.password-toggle-btn {
    position: absolute;
    color: rgb(0, 0, 0, 0.6);
    top: 0;
    right: 1.75rem;
    transform: translateY(65%);
    z-index: 2;
    padding: 0;
  }

}

.form-label fa-icon {
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  font-size: small;
  color: rgb(0, 0, 0, 0.6);
}

.alert-danger {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: rgba(255, 0, 0, 0.2);
}

.invalid-feedback {
  font-size: small;
  text-align: left;
}

.link-custom {
  color: rgba(173, 132, 168, 1);
  text-decoration: none;
  font-weight: 500;
}

.link-custom:hover {
  color: rgba(173, 132, 168, 1);
}

.btn-custom {
  background-color: rgba(173, 132, 168, 1);
  border-color: rgba(173, 132, 168, 1);
  color: white;
}

.btn-custom:hover {
  background-color: rgba(173, 132, 168, 0.8);
  border-color: rgba(173, 132, 168, 0.8);
  color: white;
}

.form-control {
  margin-top: 0;
}


app-footer {
  height: 15vh;
}

@supports (height: 100dvh) {
  .login {
    height: 85dvh;
  }

  app-footer {
    height: 15dvh;
  }
}