<!-- While user is not logged in -->
<div *ngIf="!isLoggedIn">
  <section class="login">
    <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xxl-3">
      <div class="card border border-light-subtle rounded-3 shadow-sm">
        <div class="card-body">

          <!-- logo Nao4You -->
          <div class="text-center">
            <a [href]="facebookUrl">
              <img ngSrc="{{ logoUrl }}" alt="Nao4You" width="150" height="150" priority />
            </a>
          </div>

          <!-- connexion form -->
          <p class="text-secondary fw-bold fs-5 text-center mb-4">
            Site de la boutique Nao4You
          </p>

          <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


            <!-- email address -->
            <div class="col-12">
              <div class="mb-3">
                <label for="email" class="form-label text-start d-block">
                  <fa-icon [icon]="faUser"></fa-icon>adresse mail
                </label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="form.email" required
                  #email="ngModel" autocomplete="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="{'is-invalid': f.submitted && email.errors}" />
                <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="email.errors['required']"></div>
                  <div *ngIf="email.errors['pattern']">
                    adresse mail incorrecte
                  </div>
                </div>
              </div>
            </div>

            <!-- password -->
            <div class="col-12">
              <div class="mb-4 position-relative">

                <label for="password" class="form-label text-start d-block">
                  <fa-icon [icon]="faKey"></fa-icon>Mot de passe
                </label>

                <input type="{{ passwordVisible ? 'text' : 'password' }}" class="form-control" id="password"
                  name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel"
                  [ngClass]="{'is-invalid': f.submitted && password.errors}" />

                <button type="button" class="btn password-toggle-btn" (click)="togglePassword()"
                  title="Afficher/masquer le mot de passe">
                  <fa-icon [icon]="passwordVisible ? faEye : faEyeSlash"></fa-icon>
                </button>

                <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                  <div *ngIf="password.errors['required']"></div>
                  <div *ngIf="password.errors['minlength']">
                    Minimum 6 caractères
                  </div>
                </div>
              </div>
            </div>


            <!-- Forgot password -->
            <div class="col-12 d-flex justify-content-end">
              <a href="#!" class="link-custom">Mot de passe oublié ?</a>
            </div>

            <!-- Connexion button -->
            <div class="col-10 mx-auto">
              <div class="d-grid my-3">
                <button class="btn btn-custom btn-md" type="submit">
                  Se connecter
                </button>
              </div>
            </div>


            <!-- Sign up -->
            <div class="col-12">
              <p class="m-0 text-secondary text-center">
                Vous n'avez pas de compte ?
                <a href="register" class="link-custom">Inscrivez-vous</a>
              </p>
            </div>

            <!-- Errors management -->
            <div class="col-12">
              <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                {{ message }}
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </section>
  <app-footer-bottom></app-footer-bottom>
</div>