<footer class="footer">
        <!-- Colonne 1: Mail -->
        <div class="footer-content">
                <span class="contact-item">
                        <fa-icon [icon]="faEnvelope"></fa-icon>
                        <a href="mailto:naoforyou4@gmail.com" class="footer-link">naoforyou4&#64;gmail.com</a>
                </span>
        </div>

        <!-- Colonne 2: Copyright & Powered By -->
        <div class="footer-content copyright">
                <p>&copy; 2024 Nao4You. Powered by <a href="https://www.linkedin.com/in/emmanu%C3%ABl-caputo-a46173235"
                                target="_blank" class="footer-link">Emmanuël Caputo</a>
                </p>
        </div>

        <!-- Colonne 3: Téléphone -->
        <div class="footer-content">
                <span class="contact-item">
                        <fa-icon [icon]="faPhone"></fa-icon>
                        <a href="tel:+32497421565" class="footer-link">+32 (0) 497 42 15 65</a>
                </span>
        </div>
</footer>